<%= render :partial => 'custom_fields/formats/regexp', :locals => {:f => f, :custom_field => custom_field} %>
<p><%= f.check_box :text_formatting, {:label => :setting_text_formatting, :data => {:disables => '#custom_field_url_pattern'}}, 'full', '' %></p>
<% if @custom_field.class.name == "TimeEntryCustomField" %>
  <p><%= f.check_box :participant_period_close, {:label => :label_participant_period_close} %></p>
  <p><%= f.check_box :always_close, {:label => :label_always_close} %></p>
<% end %>
<p><%= f.text_field(:default_value) %></p>
<p><%= f.text_field :url_pattern, :size => 50, :label => :label_link_values_to %></p>
